{%extends 'base.html'%}

{% block content %}

    <div class="container">
        <h1>Lista de Alunos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Aluno</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos_list %}
                    <tr>
                        <td>{{ aluno.nome }}</td>
                        <td>{{ aluno.email }}</td>
                        <td>{{ aluno.telefone }}</td>
                    </tr>
            {% empty %}
                <tr>
                    <td colspan="4">nenhum aluno encontrado.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}