{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Adicionar Aluno</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'aluno-lista' %}" class="btn btn-secondary">cancelar</a>
        </form>
    </div>

    <script>
        const handlePhone = (event) => {
            let input = event.target
            input.value = phoneMask(input.value)
        }
        const phoneMask = (value) => {
            if (!value) return ""
            value = value.replace(/\D/g,'')
            value = value.replace(/(\d{2})(\d)/,"($1) $2")
            value = value.replace(/(\d)(\d{4})$/,"$1-$2")
            return value
        }
    </script>
{% endblock  %}